.link {
    @apply hover:underline
    sm:text-xs
  hover:text-blue-400
    m-1
    lg:mr-10
    transition-all
  text-white
    
    
    md:text-base
    
    lg:text-2xl;
}

.link-cb {
  @apply 
hover:bg-orange-600
  m-1
  lg:mr-10
  transition-all
text-white
  text-2xl
  bg-amber-500 px-5 py-1 rounded
  ;
}

.active-link {
    @apply text-blue-500
    md:text-xs
}